html {
    line-height: 1.5;
    font-family: sans-serif;
    font-size: 20px;
    color: #1a1a1a;
    background-color: #fdfdfd;
  }
  body {
    margin: 0 auto;
    max-width: 1080px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
    hyphens: auto;
    overflow-wrap: break-word;
    text-rendering: optimizeLegibility;
    font-kerning: normal;
    box-sizing: border-box;
  }
  @media (max-width: 600px) {
    body {
      font-size: 0.9em;
      padding: 1em;
    }
  }
  @media print {
    body {
      background-color: transparent;
      color: black;
      font-size: 12pt;
    }
    p, h2, h3 {
      orphans: 3;
      widows: 3;
    }
    h2, h3, h4 {
      page-break-after: avoid;
    }
  }
  p {
    margin: 1em 0;
  }
 
  img {
    max-width: 100%;
  }
  h1, h2, h3, h4, h5, h6 {
    margin-top: 1.4em;
  }
  h5, h6 {
    font-size: 1em;
    font-style: italic;
  }
  h6 {
    font-weight: normal;
  }
  ol, ul {
    padding-left: 1.7em;
    margin-top: 1em;
  }
  li > ol, li > ul {
    margin-top: 0;
  }
  blockquote {
    margin: 1em 0 1em 1.7em;
    padding-left: 1em;
    border-left: 2px solid #e6e6e6;
    color: #606060;
  }
  code {
    font-family: Menlo, Monaco, 'Lucida Console', Consolas, monospace;
    font-size: 85%;
    margin: 0;
  }
  pre {
    margin: 1em 0;
    overflow: auto;
  }
  pre code {
    padding: 0;
    overflow: visible;
    overflow-wrap: normal;
  }
  .sourceCode {
   background-color: transparent;
   overflow: visible;
  }
  hr {
    background-color: #1a1a1a;
    border: none;
    height: 1px;
    margin: 1em 0;
  }
  table {
    margin: 1em 0;
    border-collapse: collapse;
    width: 100%;
    overflow-x: auto;
    display: block;
    font-variant-numeric: lining-nums tabular-nums;
  }
  table caption {
    margin-bottom: 0.75em;
  }
  tbody {
    margin-top: 0.5em;
    border-top: 1px solid #1a1a1a;
    border-bottom: 1px solid #1a1a1a;
  }
  th {
    border-top: 1px solid #1a1a1a;
    padding: 0.25em 0.5em 0.25em 0.5em;
  }
  td {
    padding: 0.125em 0.5em 0.25em 0.5em;
  }
  header {
    margin-bottom: 4em;
    text-align: center;
  }
  #TOC li {
    list-style: none;
  }
  #TOC a:not(:hover) {
    text-decoration: none;
  }
  code{white-space: pre-wrap;}
  span.smallcaps{font-variant: small-caps;}
  span.underline{text-decoration: underline;}
  div.column{display: inline-block; vertical-align: top; width: 50%;}
  div.hanging-indent{margin-left: 1.5em; text-indent: -1.5em;}
  ul.task-list{list-style: none;}
  .display.math{display: block; text-align: center; margin: 0.5rem auto;}

/*body {
    font-family: sans-serif;
}

p {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        max-height: 100vh;
        max-width: 50vw;
}*/
:root{
  --green: rgb(102, 176, 51);
  --yellow: rgb(255, 191, 0);
  --blue: rgb(57, 27, 230);
  --beige:rgb(250, 214, 166);
  --yellowbeige: rgb(196, 179, 89);
  --a-text: rgb(242, 230, 171);
  --a-bg: rgb(196, 179, 89);
  --alert: rgb(255, 246, 132);
  --alert-blue: rgb(0, 174, 239);
  --block: rgb(204, 128, 51);
  --block-blue: rgb(48, 214, 199);
  --block-yellow: rgb(255, 238, 0);
}
a {
  color: var(--a-text);
  background-color: var(--a-bg);
    text-decoration: none;
    border-radius: 0.5cm;
    padding: 0.2cm;
    margin: 0.2cm;
    line-height: 1.5cm;
    width: fit-content;
    align-self: center;
    white-space: nowrap;
    border: solid 1px var(--blue);

}

body img {
    width: 60%;
    display: block;
    float: left;
}

.float-image-fix {
    float: none;
}

.🙂🙁{
  background-color: var(--beige) !important;
  border-radius: 0;
  border:none;
}
.janei{
  background-color: var(--yellowbeige) !important;
  border-radius: .2cm;
  border: solid 1px var(--blue) !important;
  color: var(--beige) !important;
  padding: 2px 10px;
}
.nesteforrigeside{
  color: var(--yellow) !important;
  background-color: var(--green) !important;
  text-decoration: none;
  border-radius: 0.5cm;
  border: solid 1px var(--blue) !important;
  padding: 0.2cm;
  margin: 0.2cm;
  line-height: 1.5cm;
  width: fit-content;
  align-self: center;
  white-space: nowrap;
}
.trykkher{
  line-height: normal;
  color: var(--blue) !important;
  background-color: var(--beige) !important;
  border-radius: 0;
  margin: 0;
  border: none;
}
.alertblock{
  position: relative;
  background-color: var(--alert);
  padding: 0 10px;
  border-radius: 0 0 10px 10px;
  box-shadow: rgba(0, 0, 0, 0.4) 4px 4px 3px 0px;
}
.alertblock::before{
  content: "VIKTIG";
  position: absolute;
  color: white;
  background-color: var(--alert-blue);
  border-radius: 10px 10px 0 0;
  width: 100%;
  left: 0;
  text-align: center;
  top: -30px;
  font-weight: bold;
}
.block{
  margin-top: 40px;
  position: relative;
  background-color: var(--block);
  padding: 0 10px;
  border-radius: 0 0 10px 10px;
  box-shadow: rgba(0, 0, 0, 0.4) 4px 4px 3px 0px;
  color: var(--block-yellow);
}
.block p > span:first-child{
  position: absolute;
  color: black;
  border-radius: 10px 10px 0 0;
  width: 100%;
  left: 0;
  text-align: center;
  top: -30px;
  font-weight: bold;
  background-color: var(--block-blue);
}
video{
  width: 100%;
  max-width: 600px;
}
/*fix for solid bg colors for right or wrong asners and such*/
bgcolor{
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
}

.forum-button {
  background-color: navy;
  color: red;
}
